{% extends "base.html" %}
{% load static %}
{% block title %}Assignment{% endblock title %}
{% block content %}

<p><a href="{% url 'home' %}">Homepage</a></p>

<div class="header">
    <h1>Assignment</h1>
</div>


{% if user_role == 'Student' %}
    <div class="header">
        <h2>{{ subject.name }}</h2>
    </div>

{% endif %}



{% if user_role == 'Lecturer' %}
    <div class="header">
        <h2>Subject: {{ subject.name }}</h2>
    </div>
    <div class="assignment-form">
        {% if assignment is None %}
            <form method="post" action="{% url 'add_assignment' subject.pk %}">
                {% csrf_token %}
                <label for="description">Description</label>
                <textarea id="description" name="description" cols="30" rows="10" required></textarea>
                <br><br>
                <label for="deadline">Deadline</label>
                <input type="datetime-local" id="deadline" name="deadline" required>
                <br><br>
                <button type="submit">Add assignment</button>
            </form>

        {% elif assignment is not None %}
            <h3>Assignment details</h3>
            <p>Assignment description: {{ assignment.description }}</p>
            <br>
            <p>Assignment deadline: {{ assignment.deadline }}</p>
            <br>
            <form method="post" action="{% url 'delete_assignment' assignment.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url 'home' %}">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this assignment?')">Delete assignment</button>
            </form>
        {% endif %}
    </div>
{% endif %}



{% endblock content %}
