<!-- templates/academy/home.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Academy Home{% endblock title %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/academy/home.css' %}">

<p><a href="{% url 'logout' %}">Log Out</a></p>

<!--Show content if user is logged in-->
<div class="header">
    <p>Hi {{ user.email }}!</p>
    <p>User role: {{ user_role }}</p>
</div>

<!--Display content if user is student-->
{% if user_role == 'Student' %}
    <div class="header">
        <h1>Faculty of {{ faculty }}</h1>
    </div>

    <div class="subjects">
        <!-- Display available subjects  -->
        <div class="available-subjects">
            <h3>Available Subjects</h3>
            {% for subject in available_subjects %}
                <div class="subject">
                    <form method="post" action="{% url 'choose_subject' subject.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="subject_id" value="{{ subject.pk }}">
                        <button type="submit">Choose</button>
                    </form>
                    <p>{{ subject.name }}</p>
                    <br><br>
                </div>
            {% endfor %}
        </div>

        <!-- Display chosen subjects  -->
        <div class="chosen-subjects">
            <h3>Chosen Subjects</h3>
            {% for subject in chosen_subjects %}
                <div class="subject">
                    <form method="post" action="{% url 'remove_subject' subject.pk %}">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                    <a href="{% url 'assignment' subject.pk %}">{{ subject.name }}</a>
                    <br><br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}


<!--Display content if user is lecturer-->
{% if user_role == 'Lecturer' %}
    <div class="teaching-subjects">
        <h3>Teaching Subjects</h3>
        {% for subject in subjects %}
            <div class="subject">
                <form method="get" action="{% url 'students' pk=subject.pk %}">
                    <button type="submit">Students</button>
                </form>
                <form method="post" action="{% url 'assignment' subject.pk %}">
                    {% csrf_token %}
                    <button type="submit">Assignment</button>
                </form>
                <p>{{ subject.name }}</p>
                <br><br>
            </div>
        {% endfor %}
    </div>

{% endif %}

{% endblock content %}
