{% extends "base.html" %}
{% load static %}
{% block title %}Assignment{% endblock title %}
{% block content %}

<p><a href="{% url 'home' %}">Homepage</a></p>

<div class="header">
    <h1>{{ subject.name }} students</h1>
</div>


<!--Display students list here and a checkbox for each student-->
<div class="ass">
    <h3>Attendance</h3>
    <ul>
        {% for student in students %}
            <li>
                <input type="checkbox" id="student_{{ student.pk }}" name="students[]" value="{{ student.pk }}">
                <label for="student_{{ student.pk }}">{{ student.name }} {{ student.surname }}</label>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
